.pas-bag{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Password{
    width: 856px;
    height: 351px;
    filter: drop-shadow( 0px 4px 40px rgba(0, 0, 0, 0.25));
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}


.pass-test h3{
    font-size: 20px;
}

.pass-test input{
    width: 450px;
    height: 40px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 10px;
}

.pass-test button{
    width: 200px;
    height: 50px;
    background-color: #274C5B;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 20px;
}

@media (max-width: 1024px) {
    .Password {
        width: 90%;
        max-width: 700px;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .pas-bag {
        height: auto;
        min-height: 50vh;
        padding: 30px 20px;
    }
    .Password {
        width: 95%;
        flex-direction: column;
        height: auto;
        padding: 35px 25px;
        gap: 25px;
    }
    .pass-test input {
        width: 100%;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .Password {
        width: 95%;
        padding: 25px 15px;
    }
    .pass-test input {
        width: 100%;
        max-width: 100%;
    }
    .pass-test button {
        width: 100%;
        max-width: 200px;
    }
    .pass-test h3 {
        font-size: 18px;
    }
}

@media (max-width: 360px) {
    .Password {
        padding: 20px 12px;
    }
    .pass-test h3 {
        font-size: 16px;
    }
    .pass-test input {
        height: 44px;
    }
    .pass-test button {
        height: 46px;
    }
}

@media (max-width: 320px) {
    .pass-test h3 {
        font-size: 14px;
    }
}