*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
.logo{
    width: 37px;
    height: 54px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgba(39, 76, 91, 1);
}
ul li a{
    text-decoration: none;
    color: rgba(39, 76, 91, 1);
    font-weight: 700;
    font-size: 20px;
}
.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.lin{
    text-decoration: none;
}
.cart{
    width: 160px;
    height: 66px;
    border-radius: 33px;
    border: 1px solid rgba(224, 224, 224, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 20px;
}
.cart_one{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(39, 76, 91, 1);
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.cart h2{
    font-size: 18px;
    font-weight: 600;
}
.head_one{
    margin-top: 30px;
}
.cart2{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(126, 182, 147, 1);
    color: white;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.h2{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    color: #274C5B;
}
.back{
    background-image: url(../../assets/Image.png);
    width: 100%;
    height: max-content;
    margin-top: 50px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 70px;
}
.back h2{
    font-size: 36px;
    font-weight: 400;
    color: rgba(104, 164, 127, 1);
    font-family: cursive;
}
.back h1{
    font-size: 60px;
    font-weight: 500;
    color: rgba(39, 76, 91, 1);
    margin-top: 10px;
}
.back button{
    padding: 25px 35px;
    border-radius: 12px;
    background-color: rgba(239, 211, 114, 1);
    border: none;
    font-size: 17px;
    margin-top: 20px;
}
.pad{
    padding-top: 50px;
    padding-left: 100px;
}
.image{
    background-image: url(../../assets/png.png);
    width: 550px;
    height: 320px;
    border-radius: 30px;
}
.image2{
    background-image: url(../../assets/Photo.jpg);
    width: 550px;
    height: 320px;
    border-radius: 30px;
}
.mal{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 65px;
}
.text h3{
    font-family: cursive;
    font-size: 35px;
    font-weight: 400;
}
.text h1{
    font-size: 40px;
    font-weight: 700;
}
.text{
    color: white;
    padding-left: 54px;
    padding-top: 110px;
}
.text2 h3{
    color: rgba(126, 182, 147, 1);
}
.text2 h1{
    color: rgba(39, 76, 91, 1);
}
.us{
    display: flex;
}
.org{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.org2{
    margin-top: 40px;
}
.lime{
    width: 700px;
    margin-top: 30px;
}
.we{
    margin-top: -100px;
}
.btn{
    width: 200px;
    height: 70px;
    border-radius: 15px;
    background-color: rgba(39, 76, 91, 1);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 45px    ;
}
.about{
    font-family: cursive;
    color: rgba(126, 182, 147, 1);
    font-size: 32px;
    font-weight: 400;
    margin-top: 186px;
}
.bel{
    font-size: 50px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
    margin-top: 10px;
}
.len{
    font-size: 17px;
    font-weight: 400;
    color: rgba(82, 92, 96, 1);
    margin-top: 20px;
}
.org h3{
    color: rgba(39, 76, 91, 1);
    font-size: 25px;
    font-weight: 700;
}
.org p{
    color: rgba(39, 76, 91, 1);
    font-size: 18px;
    font-weight: 400;
    color: rgba(82, 92, 96, 1);
    margin-left: 3px;
}
.card{
    width: 300px;
    height: 483px;
    border-radius: 30px;
    border: 1px solid rgb(249, 248, 248);
}
.card img{
    width: 300px;
    height: 320px;
    border-radius: 30px;
}
.pr{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 6px;
}
.card button{
    padding: 6px 12px;
    border-radius: 8px;
    background-color: rgba(39, 76, 91, 1);
    color: white;
    border: none;
    margin-top: 29px;
    margin-left: 30px;
}
.card h3{
    color: rgba(39, 76, 91, 1);
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.old{
    color: rgba(184, 184, 184, 1);
    font-size: 15px;
    font-weight: 600;
}
.price{
    font-size: 18px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
}
.stars{
    font-size: 20px;
    color: rgba(255, 168, 88, 1);
}
.hr{
    width: 80%;
    margin-left: 10%;
    margin-top: 15px;
}
.matn{
    text-align: center;
}
.matn h3{
    color: rgba(126, 182, 147, 1);
    font-family: cursive;
    font-size: 36px;
    font-weight: 400;
    margin-top: 150px;
}
.matn h1{
    font-size: 50px;
    font-weight: 800;
    color: rgba(39, 76, 91, 1);
    margin-top: 8px;
}
.box{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
    flex-wrap: wrap;
}
.Load{
    padding: 20px 50px;
    border-radius: 16px;
    background-color: rgba(39, 76, 91, 1);
    color: white;
    border: none;
    margin-left: 45%;
    margin-top: 50px;
}
.sect2{
    background-image: url(../../assets/Image.jpg);
    width: 100%;
    height: 160vh;
    background-size: cover;
    margin-top: 200px;
    text-align: center;
}
.led{
    color: rgba(126, 182, 147, 1);
    font-size: 36px;
    font-weight: 400;
    font-family: cursive;
    padding-top: 100px;
}
.sect2 h1{
    font-size: 50px;
    font-weight: 700;
    margin-top: 10px;
    color: rgba(126, 182, 147, 1);
}
.sect2 img{
    border-radius: 50%;
    margin-top: 50px;
}
.del{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.simply{
    color: rgba(82, 92, 96, 1);
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
}
.class{
    font-size: 25px;
    font-weight: 600;
    color: rgba(39, 76, 91, 1);
    margin-top: 20px;
}
.consumer{
    color: rgba(82, 92, 96, 1);
    font-size: 15px;
    font-weight: 400;
}
.organic{
    width: 211px;
    height: 211px;
    border-radius: 50%;
    border: 4px solid rgba(126, 182, 147, 1);
    text-align: center;
    padding-top: 50px;
    background-color: rgba(241, 241, 241, 1);
}
.n{
    display: flex;
    justify-content: center;
    gap: 62px;
    margin-bottom: 50px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.organic h3{
    color: rgba(39, 76, 91, 1);
}
.organic h1{
    font-size: 50px;
    font-weight: 700;
    color: rgba(39, 76, 91, 1);
}
.nam{
    width: 80%;
    margin-left: 10%;
    color: rgba(224, 224, 224, 1);
    margin-top: 50px;
}
.sect3{
    background-color: rgba(39, 76, 91, 1);
    width: 100%;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card2{
    background-color: white;
    border: none;
    margin-top: 0px;
}
.boxing{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.slesh{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    align-items: center;
}
.slesh h3{
    color: rgba(126, 182, 147, 1);
    font-size: 36px;
    font-weight: 400;
    font-family: cursive;
}
.slesh h1{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.slesh button{
    width: 200px;
    height: 50px;
    border-radius: 16px;
    background-color: rgba(239, 211, 114, 1);
    border: none;
    color: white;
}
.dala{
    max-width: 100%;
}
.dala_div{
    width: 789px;
    height: 605px;
    position: relative;
    right: 60px;
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
    border-radius: 30px;
}
.sect4{
    display: flex;
    align-items: center;
}
.dala_div h3{
    font-size: 36px;
    font-weight: 400;
    font-family: cursive;
    color: #7EB693;
}
.dala_div h1{
    font-size: 45px;
    font-weight: 700;
    margin-top: 10px;
    color: #274C5B;
}
.dala_div h4{
    font-size: 20px;
    font-weight: 500;
    color: #274C5B;
    margin-top: 25px;
}
.dala_div p{
    font-size: 18px;
    font-weight: 400;
    color: #525C60;
    margin-top: 7px;
}
.dot1{
    background-image: url(../../assets/Image\ \(2\).png);
    width: 400px;
    height: 383px;
}
.dot2{
    background-image: url(../../assets/Image\ \(3\).png);
    width: 400px;
    height: 383px;
}
.dot3{
    background-image: url(../../assets/Image\ \(4\).png);
    width: 400px;
    height: 383px;
}
.sect5{
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    background-color: #F1F8F4;
    width: 100%;
    height: 100vh;
}
.sect5 button{
    padding: 20px 40px;
    background-color: white;
    border-radius: 10px;
    color: #274C5B;
    border: none;
    margin-top: 170px;
    margin-left: 120px;
}
.sect6{
    margin-top: 120px;
}
.news{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
}
.news div h3{
    color: #7EB693;
    font-family: cursive;
    font-size: 32px;
    font-weight: 400;
}
.news div h1{
    color: #274C5B;
    font-size: 45px;
    font-weight: 600;
}
.news div button{
    padding: 20px 30px;
    border-radius: 12px;
    background: transparent;
    border: 2px solid #274C5B;
}
.more{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.M1{
    background-image: url(../../assets/Image7.png);
    width: 38%;
    height: 450px;
    border-radius: 40px;
}
.M2{
    background-image: url(../../assets/Image5.png);
    width: 38%;
    height: 450px;
    border-radius: 40px;
}
.why{
    width: 90%;
    height: 200px;
    background-color: white;
    border: none;
    margin-left: 5%;
    margin-top: 63%;
    border-radius: 25px;
    padding-left: 20px;
    padding-top: 30px;
    box-shadow: 0 0 5px 0 #274C5B;
}
.by{
    color: #274C5B;
    font-size: 18px;
    font-weight: 400;
}
.why h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    color: #274C5B;
}
.S{
    font-size: 17px;
    font-weight: 400;
    color: #525C60;
    margin-top: 3px;
}
.why button{
    padding: 18px 40px;
    background-color: #EFD372;
    color: #274C5B;
    border-radius: 15px;
    border: none;
    margin-top: 15px;
}
.sect7{
    background-image: url(../../assets/Image7.png);
    width: 90%;
    height: 320px;
    margin-left: 5%;
    border-radius: 50px;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    align-items: center;
}
.sect7 h1{
    font-size: 45px;
    font-weight: 700;
    color: white;
}
.sect7 input{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 10px;
}
.sect7 button{
    padding: 23px 40px;
    border-radius: 15px;
    border: none;
    background-color: #274C5B;
    color: white;
}
.inp{
    display: flex;
    gap: 20px;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 147px;
    flex-wrap: wrap;
}
footer div img{
    width: 36px;
    height: 53px;
}
.end{
    text-align: end;
}
.center{
    text-align: center;
}
.start{
    text-align: start;
}
.end h4{
    margin-top: 32px;
}
.end p{
    font-size: 18px;
    font-weight: 400;
    color: #525C60;
    margin-top: 5px;
}
footer h2{
    font-size: 30px;
    font-weight: 600;
    color: #274C5B;
}
.start p{
    color: #525C60;
    margin-top: 20px;
}
.log{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.center p{
    color: #525C60;
    font-size: 18px;
    font-weight: 400;
    margin-top: 23px;
}
.follow{
    width: 280px;
    height: 60px;
    margin-top: 50px;
}
footer hr{
    background-color: #D4D4D4;
    margin-top: 100px;
}
.copy{
    text-align: center;
    margin-top: 17px;
    margin-bottom: 17px;
    color: #525C60;
}
@media(max-width: 990px){
    .back{
        width: 100%;
        height: max-content;
    }
    #ull{
        display: none;
    }
    .pad{
        padding: 70px;
    }
    .pad button{
        padding: 20px 30px;
        color: white;
    }
    .us{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .sect2{
        width: 100%;
        height: max-content;
    }
    .organic{
        width: 200px;
        margin-bottom: 20px;
    }
    .sect3{
        width: 100%;
        height: max-content;
        text-align: center;
        padding-bottom: 20px;
    }
    .slesh{
        flex-direction: column;
        row-gap: 20px;
    }
    .footer{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .footer hr{
        display: none;
    }
    #end{
        text-align: center;
    }
    #start{
        text-align: center;
    }
}
@media(max-width: 768px){
    #ull{
        display: none;
    }
    .pad{
        padding: 70px;
    }
    .pad h2{
        font-size: 25px;
    }
    .pad h1{
        font-size: 50px;
    }
    .pad button{
        padding: 20px 25px;
        color: white;
    }
    .mal{
        flex-direction: column;
        row-gap: 20px;
        padding-left: 75px;
    }
    .us{
        flex-direction: column;
    }
    .lime{
        width: 95%;
        margin-left: 2.5%;
    }
    .we{
        text-align: center;
        margin-left: 75px;
    }
    .org{
        margin-left: 50px;
    }
    .sect2{
        width: 100%;
        height: max-content;
        padding-bottom: 50px;
    }
    .slesh{
        text-align: center;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }
    .boxing{
        display: flex;
        justify-content: center;
    }
    .sect3{
        width: 100%;
        height: max-content;
        padding-bottom: 20px;
    }
    .sect4{
        flex-direction: column;
        text-align: center;
    }
    .dala{
        width: 80%;
        margin-top: 20px;
    }
    .sect5{
        flex-direction: column;
        width: 100%;
        height: max-content;
        align-items: center;
        row-gap: 20px;
        padding-bottom: 50px;
    }
    .sect7{
        flex-direction: column;
    }
    .sect7 h1{
        padding-top: 75px;
    }
    .inp{
        padding-bottom: 75px;
    }
    .more{
        flex-direction: column;
        align-items: center;
    }
    .M1{
        width: 75%;
    }
    .M2{
        width: 75%;
        margin-top: 75px;
    }
    .news{
        flex-direction: column;
        text-align: center;
    }
    .footer hr{
        display: none;
    }
    #end{
        text-align: center;
    }
    #start{
        text-align: center;
    }
}
@media(max-width: 576px){
    .back{
        width: 100%;
        height: max-content;
    }
    .image{
        width: 95%;
        margin-left: -20px;
    }
    .image2{
        width: 95%;
        margin-left: 0px;
    }
    .we{
        margin-left: -20px;
    }
    .len{
        display: none;
    }
    .simply{
        width: 80%;
        margin-left: 10%;
    }
    .dala_div p{
        width: 80%;
        margin-left: 10%;
    }
}
@media(max-width: 480px){
    body{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    .dala_div{
        width: 95%;
        right: 0;
        margin: 0 auto;
        height: auto;
    }
    .image{
        width: 95%;
        margin: 0 auto;
    }
    .image2{
        width: 95%;
        margin: 0 auto;
    }
    .dot1{
        width: 90%;
        margin: 0 auto;
    }
    .dot2{
        width: 90%;
        margin: 0 auto;
    }
    .dot3{
        width: 90%;
        margin: 0 auto;
    }
    .sect7{
        padding: 20px;
        width: 95%;
        margin: 0 auto;
    }
    .slesh{
    padding-left: 100px;
    padding-right: 100px;
}
}
