*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
.logo{
    width: 37px;
    height: 54px;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ul{
    display: flex;
    list-style: none;
    gap: 50px;
    color: rgba(39, 76, 91, 1);
}
ul li a{
    text-decoration: none;
    color: rgba(39, 76, 91, 1);
    font-weight: 700;
    font-size: 20px;
}
.flex{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.lin{
    text-decoration: none;
}
.cart{
    width: 160px;
    height: 66px;
    border-radius: 33px;
    border: 1px solid rgba(224, 224, 224, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 20px;
}
.cart_one{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(39, 76, 91, 1);
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.cart h2{
    font-size: 18px;
    font-weight: 600;
}
select{
    background: transparent;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    outline: none;
    color:  rgba(39, 76, 91, 1);
    width: 11%;
}
select option{
    width: 65px;
    height: 30px;
}
.bars{
    display: none;
}
.modal{
    width: 300px;
    height: 450px;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
}
.modal button{
    padding: 5px 15px;
    margin-top: 5px;
    background: transparent;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
}
.modal_flex ul li{
    list-style: none;
    font-family: cursive;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
    color: rgba(39, 76, 91, 1);
}
.modal_flex{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
@media(max-width: 480px){
    #id{
        display: none;
    }
    .bars{
        display: block;
        font-size: 20px;
    }
}